
/*OVERARCHING OVERRIDES*/

a{
    cursor: pointer;
}

/*END OVERARCHING OVERRIDES */

section.book h1,
section.book h2 {
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-size: 54px;
    font-size: 5.375rem;
    font-style: italic;
    font-weight: 400;
    line-height: 5.9375rem;
    text-align: center;
}

section.book h3 {
    font-size: 21px;
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 2rem;
    text-align: center;
}

section.book h4,
section.book h5 {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.1875rem;
}

section.book h2 + h3 {
    margin-top: 0.5rem;
}

section.book {
    background: #3ab0f4;
}

section.book  a:hover{
    text-decoration: none !important;
    color: #3ab0f4;
}

section.book q::before {
    content: open-quote;
}

section.book q::after {
    content: close-quote;
}

.circle{
    list-style-type: circle;
}

/*=======================================================================
** MODAL WINDOWS START
=========================================================================
*/
.myCloseBtn{
    background-image:url("../img/css/closeBtn.png");
    cursor: pointer;
    height: 36px;
    width: 36px;
    display: block;
    max-width: 100%;
}


.modal{
    overflow : hidden;
}

div a.myCloseBtn{
    text-align: right;
    z-index: 1040;
}

.app-modal-window .modal-dialog {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    color: white;
}

.noBodyScroll{
    overflow: hidden;
}

.the-modal {
    background-color: #363636;
    border-radius: 5px;
    max-height: 720px;
}

.modal-overflow{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 560px;
}

.the-modal header h3{
    color: #3ab0f4;
    font-size: 2.1rem;
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-style: italic;
    line-height: 2rem;
}

.the-modal >  h5{
    font-size: 1.5rem;

}

.the-modal  h1, .the-modal h2, .the-modal h3, .the-modal h4, .the-modal h5{
    color: #3ab0f4;
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-style: italic;
    line-height: 2rem;
}

my-modal.modal-body section {
    color: white;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;
    line-height: 3rem;
}

.items{
    margin-top: 6rem;
}

 a.item img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    height: 5.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.375rem;
    box-sizing: border-box;
}

div .header{
    color: white;
    width: 12rem;
    font-size: 1.3rem;
    padding-top: 1.175rem;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 0.125rem;
    line-height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}


.modal-open{
    margin-right:0px !important;
    overflow: hidden;
}

.the-modal textarea{
    width: 100%;
    border-radius: 3px;
    height: 13rem;
    color: black;
}

.the-modal button{
    margin-top: 2rem;
}

/*
MODAL WINDOW END
*/

/***********************
**WELCOME SECTION START
************************/

img{
    max-width: 100%;
}



header .the_book {
    margin-right: 8rem;
    width: 240px;
    float: right !important;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.welcome{
    background: transparent url("../img/css/bg-welcome.jpg");
    background-size: cover;
    color: #f9f9f9;
}

.book-info{
    max-width: 39.2rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.book-title{
    margin-top: 3rem;
    margin-bottom: -1rem;
}


.welcome .book-info .book-question p{
    border-top: .2rem solid rgba(255, 255, 255, 0.33);
    padding-top: 2rem;
    font-family: aaux-next, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 3rem;


}

/*WELCOME BUTTONS*/


ul.buttons {
    max-width: 33rem;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}

ul.buttons li{
    display: inline-block;
}

ul.buttons li a{

    border-radius: 0.375rem;
    box-sizing: border-box;
    display: inline-block;
    font-family: aaux-next, Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 0.125rem;
    padding: 0.8rem 2.625rem 0.5rem 2.625rem;
    text-decoration: none;
    text-transform: uppercase;
}

.button-row{
    height: 8.5rem;
}

span.nav-buy-book a {
    font-family: aaux-next, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    color: #bf4717;
    float: right;
    padding: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.125rem;
    line-height: 1.75rem;
    text-align: right;
    text-transform: uppercase;
}


ul.buttons li:nth-child(2):before{
    content: 'or';
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-size: 13px;
    font-size: 1.3rem;
    font-style: italic;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

li.try a{
    background-color: #efefef;
    color: #bf4717;
    border: 0.125rem solid #bf4717;
}


li.buy a{
    background-color: #bf4717;
    color: #efefef;
    border: 0.125rem solid #bf4717;
    cursor: pointer;

}

.slides{
    height: 28rem;
}
div.button-grp {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

section.intro{
    border-top-color: #010d19;
    background: transparent url('../img/css/bg-introduction.jpg') 50% 50% no-repeat;
    background-size: cover;
    color: #f9f9f9;
}

section.intro, section.authors{
    border-top-style: solid;
    border-top-width: 12px;
}

section.intro div.content{
    padding-top: 5rem;

}
section .content p{
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-size: 19px;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

section.intro .content p:first-child{
    margin-bottom: 0;
}

section.quotes .content p{
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

section .content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: Georgia, "Times New Roman", Times, sans-serif;
}

section.quotes{
    background-color: #1095e1;
}

section.quotes .content{
    color: #efefef
}

section.quotes .source{
    margin-top: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

section.quotes .source p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    font-size: 1.3rem;

}
section.quotes .content .source p:before{
    content: ' ';
    display: block;
    height: 0.0625rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 10%;
}

section.quotes .arrows{
    margin-top: 2rem;
}

section.quotes .content p.name{
    font-size: 12px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;

}

section.quotes .content p.name + p.title{
    margin-top: 0rem;

}

section.quotes .content p.title, section.quotes .content p.affiliation {
    color: #6fc8fc;
}

.quote-mark img {
    background-size: 47px 38px;
    height: 4rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

div.quote p{

    font-style: italic;
    line-height: 3rem;
    font-size: 1.9rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

div.quote:before, div.quote:after{
    border-top: .18rem solid rgba(60, 61, 75, 0.23);
    content: ' ';
    display: block;
    height: 0.0625rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 10%;
}

section .icon{
    margin-top: 6rem;
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-bottom: 3rem;
    width: 90px;
    height: 90px;
}

section.authors {
    background: #efefef url('../img/css/bg-fuzz.png') 0 0 repeat;
    border-top-color: #0d73b3;
}

section.authors .content header{
    text-align: center;
}


section.authors header h2{
    margin-top: 0;
}

section.authors header h3{
    width: 80%;
    margin: 0 auto;
    line-height: 3rem;

}

section.authors .pencil{
    background-color: #3ab0f4;
    background-image: url('../img/css/icon-pencil.png');
}

section.authors .content figure{
    margin-bottom: 2rem;
    
    width: 86%;
}

section.authors .content header h4{
    text-align: left;
    font-style: italic;
    cursor: pointer;
}

section.authors header h5{
    font-style: italic;
    text-align: left;
    color: #898989;
}

.contact-me dd {
    float: left;
    padding-right: .5rem;
    padding-left: .2rem;
}
.contact-me dd a {
     border-radius: 50%;
     display: block;
     height: 2.5rem;
     overflow: hidden;
     text-indent: 110%;
     white-space: nowrap;
     width: 2.5rem;
     background-color: #3ab0f4;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: 100% 100%;
 }

.contact-me dt {
    float: left;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 2.5rem;
    margin-right: 1rem;
}

.contact-me  dd .email {
    background-image: url('../img/css/icon-contact-small-email.png');
}

.contact-me dd .linkedin {
    background-image: url('../img/css/icon-contact-small-linkedin.png');
}

.contact-me dd .twitter {
    background-image: url('../img/css/icon-contact-small-twitter.png');
}

section.authors section article p{
    margin-right: 2rem;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    font-family: arial;
    line-height: 2rem;
    text-align: left;
}

.more a{
    color: #bf4717;
    font-weight: 600;
    letter-spacing: 0.125rem;
    text-decoration: none;
    text-transform: uppercase;
}

.bio-short {
    min-height: 35rem;
}

section.preview .icon-book{
    background-image: url('../img/css/icon-book.png');
    background-color: transparent;
    border: 0.1875rem solid white;
    margin-bottom: 0;
}

section.preview {
    border-top-style: solid;
    border-top-width: 12px;
    border-top-color: #3ab0f4;;
}

section.book-preview{
    background: #efefef url('../img/css/bg-fuzz.png');
}

section.preview > header{
    background-image: url('../img/css/bg-preview.jpg');
    padding-bottom: 5rem;
    color: #ffffff;
}

section .content{
    padding-top: 5rem;
}

section.preview .content article{
    padding-top: 5rem;
}

section.book-preview{
    text-align: center;
}

section.extras .icon-book{
    background-image: url('../img/css/plus-sign.png');
    background-color: transparent;
    border: 0.1875rem solid white;
    margin-bottom: 0;
}

section.extras{
    border-top-style: solid;
    border-top-width: 12px;
    border-top-color: #0d73b3;
    background-color: #1095e1;
}

section.extras > header{
    padding-bottom: 5rem;
    color: #ffffff;
    font-size: 20px;
}

section.supplements{
    background-color: #ffffff;
}

section.supplements .icon-doc{
    background-image: url('../img/css/docblack.png');
    background-color: #d3d3d3;
}

section.supplements .icon-calc{
    background-image: url('../img/css/calcblack.png');
    background-color: #d3d3d3;
}

section.supplements .icon-table{
    background-image: url('../img/css/spredblack.png');
    background-color: #d3d3d3;
}

section.supplements p.supplement-title{
    font-size: 2.5rem;
    font-size: 25px;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-style: italic;
    margin-top: 5rem;
}

section.supplements p.supplement-desc{
    font-size: 1.8rem;
    font-weight: 500;
    color: #b2b2b2;

}

section.supplements  a{
    color: #000000;
}


/* Fee Calc */

div.fee-calc {
    padding: 5px;
    width: 100%;
}

div.fee-calc p {
    text-align: right;
}

div.fee-calc span.input-group-addon {
    width: 160px;
    text-align: right;
}

div.fee-calc input[type="checkbox"] {
    margin-left: 20px;
    margin-top: 8px;
    font-size: 18px;
}

div.fee-calc input {
    text-align: right;
}

.popover-title {
    color: black;
    font-size: 14px;
}
.popover-content {
    color: black;
    font-size: 12px;
}

footer.contact-us {
    background-color: #000000;
    color: #898989;
    padding-top: 7rem;
    padding-bottom: 9rem;
}


footer.contact-us .content {
    font-family: Georgia, "Times New Roman", Times, sans-serif;
    font-style: italic;
    line-height: 1.125rem;
    text-align: center;
    list-style: none;

}

footer .content p{
    font-size: 18px;
    font-size: 1.8rem;
}

footer.contact-us ul.links li a {
    height: 8rem;
    line-height: 17rem;
    padding-left: 0rem;
    padding-top: 0;
    text-decoration: none;
    background-position: 50% 50%;
}


footer.contact-us a{
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 48px 48px;
    color: #efefef;
    box-sizing: border-box;
    display: block;

}

footer.contact-us ul.links li {
    margin: 0 auto;
    margin-right: 5rem;
    font-size: 1.5rem;
    float: left;
    list-style: none;
}

footer.contact-us .facebook {
    background-image: url('../img/css/icon-contact-large-facebook.png');
    float: right;
}

footer.contact-us .twitter {
    background-image: url('../img/css/icon-contact-large-twitter.png');
    float:left;
}
footer.contact-us ul.links{
    display: inline-table;
}

/************MEDIA QUERIES****************/
@media only screen and (min-width: 768px) {

    /* responsive columns in dialog articles */
    article.columns {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
    }

}

@media only screen and (max-width: 1327px) and (min-width: 768px) {

    .contact-me dt {
        float: none;
        text-align: left;
    }
}

@media only screen and ( max-width: 767px ) {

    a{
        text-decoration: none;
    }

    a:hover{
        text-decoration: none !important;
        color: #3ab0f4;
    }

    .the-modal{
        max-height: 400px;
    }
    .modal-overflow{
        max-height: 200px;
    }

    .the-modal h2{
        line-height: 3em;
        line-height: 3rem;

    }


    div.items section div.item
    {
        padding-left: 0;
        width: 100%;
        text-align: center;
    }

    .center-block{
        float: none !important;
    }

    section .content{
        padding-top: 0rem;
    }

    section .content p{
        margin-bottom: 0;
    }

    .item img{
        margin-top: 0.625em;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
    }

    .items {
        margin-top: 3rem;
    }

    .book-info{
        max-width: 100%;
        margin-top: 1rem;
    }

    .book-title{
        margin-top: 0;
    }

    .book-info  h1, h2,
    .book-info p {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0rem;
        font-size: 3.375rem;
        line-height: 3.6875rem;
        max-width: 100%;
        text-align: center;
    }

    .book-question p{
        margin-left: 3rem;
        margin-right: 3rem;

    }

    header .the_book {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 14rem;
        margin-bottom: 0rem;
        position: relative;
        float: none !important;
        width: 178px;
    }

    /*NAVBAR*/
    ul.nav_sections li a {
        text-decoration: none;
        text-align: center;
        font-family: Georgia, "Times New Roman", Times, sans-serif;
        font-size: 26px;
        font-size: 2.6rem;
        font-style: italic;
        line-height: 4.875rem;

    }

    .button-grp{
        background-color: #efefef;
        margin-bottom: 0rem;
        text-align: center;
    }

    ul.buttons{
        margin-bottom: 0rem;
        padding: 2.1875rem 2.1875rem 2.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        width: 24.6875rem;
    }

    ul.buttons li{
        width: 100%;

    }
    ul.buttons li a{
        font-size: 1.5rem;
        line-height: 1.75rem;
        height: 5.125rem;
        letter-spacing: .25;
        padding-top: 1.5rem;
        padding-bottom: 2.5625rem;
        border: 0.325rem solid #bf4717;
        width: 100%;
    }
    header nav aside ul.buttons li.buy  {
        font-size: 1rem;
        line-height: 1.75rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.8125rem;
    }

    ul.buttons li:nth-child(2):before{
        font-size: 1.6125rem;
        line-height: 6rem;
        line-height: 3em;
        color: #898989;
    }

    ul.nav_sections li:nth-child(2):before{
        content: ' ';
        display: block;
        height: 0.0625rem;
        margin: 0 auto;
        width: 8rem;
        border-top: 0.125rem solid rgba(60, 61, 75, 0.23);
    }

    section.intro .content p{

        margin-left: 2rem;
        margin-right: 2rem;
    }

    .slides{
        height: 43rem;;
    }

    section.authors .pencil{
        margin-top: 3rem;
        width: 78px;
        height: 78px;
    }

     header h3 {
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin-top: 0.625rem;
        width: 79%;
        margin-bottom: 0;
        margin: 0 auto;
    }


    section.authors .content{
        text-align: center;
        
    }

    section.authors .content figure {
        margin-bottom: 2rem;
        width: 100%;
    }

    section.authors header h5 {
        font-style: italic;
        text-align: center;
        font-size: 1.7rem;
        color: #898989;
    }

    section.authors .content header h4{
        text-align: center;
    }

    section.authors .content header h4 a{
        font-size: 2rem;
        color: #bf4717;
    }

    section.authors .content header .contact-me{
        display: table;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    section.authors section article p{
        margin-top: 3rem;
    }

    /*footer.contact-us ul.links li a {*/
        /*height: 8rem;*/
        /*line-height: 17rem;*/
        /*padding-left: 0rem;*/
        /*padding-top: 0;*/
        /*text-decoration: none;*/
        /*background-position: 50% 50%;*/
    /*}*/

    /*footer.contact-us ul.links li {*/
        /*display: inline-block;*/
        /*margin: 0 auto;*/
        /*margin-right: 5rem;*/
        /*font-size: 1.5rem;*/
    /*}*/

    footer .title {
        padding-left: 5rem;
        margin-bottom: 3rem;
        font-size: 1.5rem;
    }



    /*footer.contact-us ul.links li + li {*/
        /*border-top: .1rem solid rgba(255, 255, 255, 0.25);*/
    /*}*/


    /*BOOTSTRAP OVERRIDES*/

    .navbar{
        margin-bottom: 0;
    }


    .navbar-toggle {
        padding: 9px 10px;
        margin-left: 24px;
        float: none;
        margin-right: 0;
        border: 1px solid white;
        border-radius: 4px;
    }

    .navbar-inverse .navbar-toggle {
        border-color: darkgray;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #1095e1;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #1095e1;
    }

    .navbar-collapse{
        background-color: white;
        max-height: none;
    }

    .navbar-collapse.in{
        overflow: hidden;
    }

    section.the-modal h2{
        line-height: 4rem;
    }
}

@media only screen and (min-width: 112.5em){

    footer.contact-us .links a {
        background-size: 72px 72px;
    }
}

