<section class="book">

    <header>
        <div class="row hidden-lg hidden-md hidden-sm">
            <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="nav-buy-book">
                        <a data-toggle="modal" data-target='#buy-modal'>Buy Book</a>
                    </span>
                </div>
                <div class="collapse navbar-collapse" id="collapse" collapse="navCollapsed">
                    <ul class="nav navbar-nav nav_sections">
                        <li><a href="#authors" data-toggle="collapse" data-target="#collapse">Authors</a></li>
                        <li><a href="#book-preview" data-toggle="collapse" data-target="#collapse">Preview</a></li>
                    </ul>
                    <aside class="navbar-nav button-grp">
                        <ul class="buttons">
                            <li class="try">
                                <a href="#book-preview" data-toggle="collapse" data-target="#collapse">Try Free</a>
                            </li>
                            <li class="buy">
                                <a data-toggle="modal" data-target='#buy-modal'>Buy Book</a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </nav>
        </div>
        <div class="row welcome">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <figure class="the_book">
                    <img class="img-responsive" src="img/content/book.png" alt="The 3 Simple Rules of Investing"/>
                </figure>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 book-info">
                <div class="row book-title">
                    <h1>3 Simple Rules of Investing</h1>
                </div>
                <div class="row book-question">
                    <p>What if the most effective investment portfolio was also the most simple and the least
                        expensive?</p>
                </div>
                <div class="row button-row hidden-xs">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="button-grp">
                            <ul class="buttons">
                                <li class="try">
                                    <a href="#book-preview">Try Free</a>
                                </li>
                                <li class="buy">
                                    <a data-toggle="modal" data-target='#buy-modal'>Buy Book</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="row intro">

        <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1"></div>
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 content">

            <p>
                <q>
                    Everything should be made as simple as possible, but no simpler.
                </q>
            </p>

            <p>
                — Albert Einstein
            </p>

            <p>
                In this clear, practical and enlightening book — part financial guide, part exposé — the authors show
                there are just 3 Simple Rules to follow for an ideal investment portfolio.
            </p>

            <p>
                Wall Street likes things the way they are. That’s because the more confusing and complex investing seems,
                the more likely you are to seek “expert” advice — and the more you’ll pay to get it.
            </p>

            <p>
                Read The 3 Simple Rules of Investing and learn how to avoid the myths and misdirects of Wall Street. Take
                control of your investment future; or simply become a more knowledgeable partner with your advisor.
            </p>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1"></div>
    </section>

    <section id="quotes" class="row quotes" >

        <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1"></div>
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 quote-mark">
                    <img class="img-responsive" src="img/css/bg-quotation-marks.png"/>
                </div>
            </div>
            <div id="quote-carousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="slides item active">
                    <div class="row quote">
                        <p>
                            <q>
                                This is the book that investors have needed for a long time. It empowers readers to take control of their financial lives and to tune out the propaganda from the investment industry
                            </q>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 source">
                            <p class="name">Joseph Tomlinson, CFP</p>
                            <p class="title"></p>
                            <p class="affiliation">Fellow, The Society of Actuaries</p>
                        </div>
                    </div>
                </div>
                <div class="slides item">
                    <div class="row quote">
                        <p>
                            <q>
                                I applaud the authors for their clear explanations and logic as they refute many common rules of thumb in the investing world
                            </q>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 source">
                            <p class="name">Wade Pfau</p>
                            <p class="title">Professor of Retirement Income</p>
                            <p class="affiliation">The American College</p>
                        </div>
                    </div>
                </div>
                <div class="slides item">
                    <div class="row quote">
                        <p>
                            <q>
                                Put your skepticism aside. Investing properly to achieve your financial goals can be accomplished by following the three simple rules contained in this book
                            </q>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 source">
                            <p class="name">Bob Huebsher, CEO</p>
                            <p class="title"></p>
                            <p class="affiliation">Advisor Perspectives</p>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1"></div>

    </section>

    <section id="authors" class="row authors">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="pencil icon center-block img-responsive"></p>
        </div>
    </div>
    <div class="row">
        <header class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Authors</h2>
        </header>
    </div>

    <div class="row">
        <header class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Written by four trusted figures from the world of finance.</h3>
        </header>
    </div>

    <!--AUTHOR PICTURE PART START-->

    <div class="row content">
    <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-12">
        <figure class="center-block">
            <my-modal instance_template="bio-michael" use_ctrl="MyModalInstanceCtrl">
                <img src="img/content/author-michael.png" alt="Michael Edesess">
            </my-modal>
        </figure>
        <header class="center-block">
            <h4>
                <my-modal instance_template="bio-michael" use_ctrl="MyModalInstanceCtrl">
                    Michael Edesess
                </my-modal>
            </h4>
            <h5>
                Compendium Finance
            </h5>


            <div class="contact-me">
                <dl>
                    <dt>Contact me:</dt>
                    <dd><a href="https://twitter.com/choosesimple" target="_blank" class="twitter">Twitter</a>
                    </dd>
                    <dd>
                        <a href="https://www.linkedin.com/profile/view?id=6761393&authType=NAME_SEARCH&authToken=IAbK&locale=en_US&srchid=168584621402072475223&srchindex=1&srchtotal=2&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A168584621402072475223%2CVSRPtargetId%3A6761393%2CVSRPcmpt%3Aprimary"
                           target="_blank" class="linkedin">LinkedIn</a></dd>
                    <dd>
                    <my-modal instance_template="email-author" email-to="medesess@compendiumfinance.com"
                              author="Michael Edesess" use_ctrl="EmailAuthorCtl">
                            <a class="email">email</a>
                        </my-modal>
                    </dd>
                </dl>
            </div>
        </header>
        <div class="row hidden-xs">
            <section class="col-lg-12 col-md-12 col-sm-12">
                <article>
                    <p>

                        Michael Edesess is an accomplished mathematician and economist with experience in the
                        investment, energy, and sustainable development fields. He is a visiting fellow in the
                        Centre
                        for Systems Informatics Engineering at City University of Hong Kong, partner and chief
                        investment officer of Denver-based Fair Advisors, research associate of the EDHEC–Risk
                        Institute, and senior fellow and project consultant at two Hong Kong–based think tanks
                        .&nbsp;.&nbsp;.

                    </p>

                    <p class="more">
                        <my-modal instance_template="bio-michael" use_ctrl="MyModalInstanceCtrl">
                            Read More
                        </my-modal>
                    </p>
                </article>
            </section>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <figure class="center-block">
            <my-modal instance_template="bio-kwok" use_ctrl="MyModalInstanceCtrl">
                <img src="img/content/author-kwok.png" alt="Kwok Tsui">
            </my-modal>
        </figure>
        <header>
            <h4>
                <my-modal instance_template="bio-kwok" use_ctrl="MyModalInstanceCtrl">
                    Kwok L. Tsui
                </my-modal>
            </h4>
            <h5 class="hidden-xs ">
                <br/>
            </h5>

            <div class="contact-me">
                <dl>
                    <dt>Contact me:</dt>
                    <dd>
                    <my-modal instance_template="email-author" email-to="kltsui@cityu.edu.hk" author="Kwok Tsui"
                              use_ctrl="EmailAuthorCtl">
                            <a class="email">email</a>
                        </my-modal>
                    </dd>
                </dl>
            </div>
        </header>
        <div class="row hidden-xs">
            <section class="col-lg-12">
                <article>
                    <p>

                        Kwok L. Tsui is a distinguished statistician whose work focuses on the statistics of
                        quality, informatics, and data mining, and he is an expert on the problem of spurious
                        patterns in big data. He has spent 24 years as a professor and department head at
                        several major universities as well as a practical applied researcher. Prior to his
                        university positions, he was for 4 years a member of Technical Staff at AT&T Bell
                        Laboratories’ Quality Assurance .&nbsp;.&nbsp;.

                    </p>

                    <p class="more">
                        <my-modal instance_template="bio-kwok" use_ctrl="MyModalInstanceCtrl">
                            Read More
                        </my-modal>
                    </p>
                </article>
            </section>
        </div>

    </div>
    <div class="clearfix visible-sm"></div>
    <div class="col-lg-2 col-md-2 col-md-pull-1 col-sm-5 col-sm-offset-1  col-xs-12">
        <figure class="center-block">
            <my-modal instance_template="bio-carol" use_ctrl="MyModalInstanceCtrl">
                <img src="img/content/author-carol.png" alt="Carol Fabbri"/>
            </my-modal>
        </figure>
        <header>
            <h4>
                <my-modal instance_template="bio-carol" use_ctrl="MyModalInstanceCtrl">
                    Carol Fabbri
                </my-modal>
            </h4>
            <h5>
                Fair Advisors
            </h5>

            <div class="contact-me">
                <dl>
                    <dt>Contact me:</dt>
                    <dd><a href="https://twitter.com/carolfabbri" target="_blank" class="twitter">Twitter</a>
                    </dd>
                    <dd>
                        <a href="https://www.linkedin.com/profile/view?id=2527637&authType=NAME_SEARCH&authToken=ejL-&locale=en_US&srchid=168584621402072112482&srchindex=1&srchtotal=7&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A168584621402072112482%2CVSRPtargetId%3A2527637%2CVSRPcmpt%3Aprimary"
                           target="_blank" class="linkedin">LinkedIn</a></dd>
                    <dd>
                    <my-modal instance_template="email-author" email-to="carol.fabbri@gmail.com" author="Carol Fabbri"
                              use_ctrl="EmailAuthorCtl">
                            <a class="email">email</a>
                        </my-modal>
                    </dd>
                </dl>
            </div>
        </header>
        <div class="row hidden-xs">
            <section class="col-lg-12">
                <article>
                    <p>
                        Carol Fabbri, an experienced financial advisor, certified financial planner, and
                        certified
                        advisor in philanthropy, cofounded Fair Advisors in 2008. As the managing partner of
                        Fair
                        Advisors LLC, an independent financial advisory firm, she works with individuals and
                        nonprofit
                        organizations. Prior to that role, she worked as an advisor at Merrill Lynch and
                        formerly spent
                    a decade as an international business consultant after receiving an MBA at MIT’s Sloan School of
                    Management .&nbsp;.&nbsp;.

                    </p>

                    <p class="more">
                        <my-modal instance_template="bio-carol" use_ctrl="MyModalInstanceCtrl">
                            Read More
                        </my-modal>
                    </p>
                </article>
            </section>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-md-pull-1 col-sm-6 col-xs-12 ">
        <figure class="center-block">
            <my-modal instance_template="bio-george" use_ctrl="MyModalInstanceCtrl">
                <img src="img/content/author-george.png" alt="George Peacock"/>
            </my-modal>
        </figure>
        <header>
            <h4>
                <my-modal instance_template="bio-george" use_ctrl="MyModalInstanceCtrl">
                    George J. Peacock
                </my-modal>
            </h4>
            <h5>
                Compendium Finance
            </h5>

            <div class="contact-me">
                <dl>
                    <dt>Contact me:</dt>
                    <dd><a href="https://twitter.com/choosesimple" target="_blank" class="twitter">Twitter</a>
                    </dd>
                    <dd>
                        <a href="https://www.linkedin.com/profile/view?id=19249738&authType=NAME_SEARCH&authToken=f0O3&locale=en_US&srchid=168584621402072582955&srchindex=1&srchtotal=26&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A168584621402072582955%2CVSRPtargetId%3A19249738%2CVSRPcmpt%3Aprimary"
                           target="_blank" class="linkedin">LinkedIn</a></dd>
                    <dd>
                    <my-modal instance_template="email-author" email-to="gpeacock@compendiumfinance.com"
                              author="George J. Peacock" use_ctrl="EmailAuthorCtl">
                            <a class="email">email</a>
                        </my-modal>
                    </dd>
                </dl>
            </div>
        </header>
        <div class="row hidden-xs">
            <section class="col-lg-12">
                <article>
                    <p>

                        A 27-year investment industry veteran, George Peacock is a principal at Compendium Financial
                        Investment Advisory, the founder and manager of the Purchasing Power Portfolio, the author
                        of the Yoga of Investing blog. He entered the financial advisory business as an associate at
                        American Express Financial Services (now Ameriprise). He also worked at the Wallace
                        Financial Group, a regional insurance, investment, retirement, and financial planning &nbsp;.
                        .&nbsp;.

                    </p>

                    <p class="more">
                        <my-modal instance_template="bio-george" use_ctrl="MyModalInstanceCtrl">
                            Read More
                        </my-modal>
                    </p>
                </article>
            </section>
        </div>
    </div>
    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2"></div>
    </div>
    </div>
    </section>

    <section id="preview" class="row preview">
        <header class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="icon-book icon center-block img-responsive"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>Preview</h2>
                </div>
            </div>

            <div class="row">
                <header class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                    <h3>Investing has never been so simple</h3>
                </header>
            </div>
        </header>
    </section>

    <section id="book-preview" class="book-preview row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 content">
                <p>This book is for you. This book is for every individual or family who invests their savings or has
                    merely
                    heard about investing and might do it sometime. It is for CPAs, Financial Planners, Brokers, and
                    401(k)
                        and Charitable fiduciaries. In short, it is for novices and pros and everyone in between.</p>
                    <br/>

                    <p>What if you found out that much of what you think about investing is wrong?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12 preview">
                    <div class="button-grp">
                        <ul class=" buttons">
                            <li class="try">
                                <a data-toggle="modal" data-target='#try-modal'>Read Excerpt</a>
                            </li>
                            <li class="buy">
                                <a data-toggle="modal" data-target='#buy-modal'>Buy Book</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row extras">
        <header class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="icon-book icon center-block img-responsive"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>Extras</h2>
                </div>
            </div>

            <div class="row">
               <header class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">


                    <h3>Additional content as referenced in the book</h3>
                </header>
            </div>

        </header>
    </section>

    <section class="row supplements">

        <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-2">
            <my-modal instance_template="extras/investment-vehicles" use_ctrl="MyModalInstanceCtrl">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <span class="icon-doc icon glyphicon-extras pull-right"></span>
                    </div>

                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                        <p class="supplement-title">
                                10 Investment Vehicles
                        </p>
                    <p class="supplement-desc">Specific investment vehicles you can use to assemble your effective, simple,
                        and low cost portfolio.</p>
                    </div>

                </div>
            </my-modal>
            <my-modal instance_template="extras/real-annual-rtn" use_ctrl="MyModalInstanceCtrl">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <span class="icon-doc icon glyphicon-extras pull-right"></span>
                    </div>

                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                        <p class="supplement-title">
                                Real Annual Return
                        </p>
                        <p class="supplement-desc">
                            What is the difference between “real” return and “nominal” return and why does it matter?
                        </p>

                        <p class="supplement-desc">

                        </p>
                    </div>

                </div>
            </my-modal>
            <my-modal instance_template="extras/mutual-fund" use_ctrl="MyModalInstanceCtrl">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <span class="icon-doc icon glyphicon-extras pull-right"></span>
                    </div>

                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                        <p class="supplement-title">
                                Mutual Fund Classes
                        </p>
                        <p class="supplement-desc">
                            What are the various mutual fund share classes available and how do they affect fees?
                        </p>
                    </div>

                </div>
            </my-modal>
            <my-modal instance_template="extras/trgt-cnst-mix" use_ctrl="MyModalInstanceCtrl">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <span class="icon-doc icon glyphicon-extras pull-right"></span>
                    </div>

                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                        <p class="supplement-title">
                                Target vs. Constant Mix Strategy
                        </p>
                        <p class="supplement-desc">
                            Should you use a target date fund or do it yourself?
                        </p>
                    </div>

                </div>
            </my-modal>
            <my-modal instance_template="extras/tips_optimizer" use_ctrl="MyModalInstanceCtrl">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <span class="icon-table icon glyphicon-extras pull-right"></span>
                    </div>

                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                        <p class="supplement-title">

                                TIPS Optimizer
                            </my-modal>
                        </p>
                        <p class="supplement-desc">
                            Information, including a downloadable spreadsheet, about the optimal timing of Deferred Annuity
                            and TIPS purchases as one prepares for a guaranteed retirement income stream.
                        </p>
                    </div>
                </div>
            </my-modal>
        </div>

        <div class="col-lg-5 col-lg-offset-0 col-md-offset-1 col-sm-offset-1 col-xs-offset-2">
            <my-modal instance_template="extras/world-stkinfo" use_ctrl="MyModalInstanceCtrl">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <span class="icon-doc icon glyphicon-extras pull-right"></span>
                    </div>

                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                        <p class="supplement-title">
                                World Stock Fund Info
                        </p>
                        <p class="supplement-desc">
                            Information about specific World Stock market investment options.
                        </p>
                    </div>

                </div>
            </my-modal>
            <my-modal instance_template="extras/inflation-calc" use_ctrl="MyModalInstanceCtrl">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <span class="icon-doc icon glyphicon-extras pull-right"></span>
                    </div>

                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                        <p class="supplement-title">

                                Inflation Calculation
                        </p>
                        <p class="supplement-desc">
                            Information about how the government calculates inflation
                        </p>
                    </div>
                </div>
            </my-modal>
            <my-modal instance_template="extras/fee-calc" use_ctrl="FeeCtrl">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <span class="icon-calc glyphicon-extras icon pull-right"></span>
                    </div>

                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                        <p class="supplement-title">
                           Fee Calculator
                        </p>
                        <p class="supplement-desc">
                        Simple calculator to assess the magnitude of the investment fees you are paying over time. Are you
                        ready to be surprised?
                        </p>
                    </div>
                </div>
            </my-modal>
            <my-modal instance_template="extras/401k_checkup" use_ctrl="MyModalInstanceCtrl">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <span class="icon-table icon glyphicon-extras pull-right"></span>
                    </div>

                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                        <p class="supplement-title">

                                401(k) Checkup
                            </my-modal>
                        </p>
                        <p class="supplement-desc">
                            Why it’s a myth to believe that you should always “max out” your contributions to your 401(k)
                            or other tax-deductible accounts.
                        </p>
                    </div>
                </div>
            </my-modal>

            <my-modal instance_template="extras/buy-hold" use_ctrl="MyModalInstanceCtrl">
                <div class="row" style="margin-bottom: 4em;">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <span class="icon-doc icon glyphicon-extras pull-right"></span>
                    </div>

                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                        <p class="supplement-title">

                                Buy and Hold vs. Rebalancing

                        </p>
                        <p class="supplement-desc">
                            Discussion of a “buy and hold” portfolio versus one that is “rebalanced” dispelling the claim
                            of a rebalancing performance boost.
                        </p>
                    </div>

                </div>
            </my-modal>
        </div>
    </section>

    <footer class="contact-us row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
            <div class="row">
                <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Follow Us</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="links">
                        <li>
                            <a href="https://facebook.com/3SimpleRulesofInvesting" target="_blank" class="facebook">Facebook</a>
                        </li>

                        <li>
                            <a href="https://twitter.com/choosesimple" target="_blank" class="twitter">Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</section>
<!-- modals-->
<div class="modal fade app-modal-window" window-class="app-modal-window" id="buy-modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="row the-modal" id="buy-modal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4 col-lg-offset-11 col-md-offset-11 col-sm-offset-10 col-xs-offset-9">
                            <a class="myCloseBtn" data-dismiss="modal"></a>
                        </div>
                    </div>
                    <div class="row items">
                        <section class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="item header">Available At:</div>
                        </section>
                        <section class="col-lg-3 col-md-3  col-sm-3 col-xs-12">
                            <a target="_blank"
                            href="http://www.amazon.com/The-Simple-Rules-Investing-Everything/dp/1626561621/ref=sr_1_1?ie=UTF8&qid=1397764962&sr=8-1&keywords=3+simple+rules+of+investing"
                            class="item">
                                <img  class="img-responsive" src="img/content/btn-buy-amazon.png" alt="Buy From Amazon" />
                            </a>
                        </section>
                        <section class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <a target="_blank"
                            href="http://www.barnesandnoble.com/w/the-3-simple-rules-of-investing-michael-edesess/1117657738?ean=9781626561625"
                            class="item"><img  class="img-responsive" src="img/content/btn-buy-bn.png" alt="Buy From Barnes and Noble" /></a>
                        </section>
                        <section class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <a target="_blank"
                            href="http://www.bkconnection.com/ProdDetails.asp?ID=9781626561625&PG=1&Type=BL&PCS=BKP"
                            class="item"><img  class="img-responsive" src="img/content/btn-buy-berret-koehler.png" alt="Buy From Barret Koehler" /></a>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade app-modal-window" window-class="app-modal-window" id="try-modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="row the-modal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4 col-lg-offset-11 col-md-offset-11 col-sm-offset-10 col-xs-offset-9">
                            <a class="myCloseBtn" data-dismiss="modal"></a>
                        </div>
                    </div>
                    <div class="row">
                        <h2 class="col-lg-12">Book Preview</h2>
                    </div>

                    <article class="row modal-overflow" >
                        <div class="col-lg-6">
                            <header>
                                <h4>Page xi ... Preface</h4>
                            </header>

                            <p>As many of us remember, a very big investment firm, Long-Term Capital Management, went straight down
                                the tubes in 1998, even though it was run by Nobel laureates in economics and finance. Giant banks,
                                with the money to hire top investment talent, also discovered in 2008 that everything they thought
                                they knew about investing was wrong. As news stories about banking disasters around the world
                                continue to reveal, “experts” keep reaching this sad conclusion with depressing regularity.</p>

                            <p>Ordinary individual investors also fall victim to misconceptions fed to them and reinforced by a vast
                                array of “helpers.” These helpers comprise a pantheon of advice givers, some of whom may not realize
                                that they’re lending support to misconceptions: financial advisors, financial journalists, radio and
                                television personalities, and financial academics. Even the most conscientious helpers often don’t
                                know that many of the things they think are true about investing are, in fact, wrong. They are
                                themselves victims of misinformation—such as the cherry-picked data and “sophisticated” math lingo
                                that promise low risk and high returns—and they unwittingly victimize their clients and audiences in
                                turn. ...</p>

                            <header>
                                <h4>Page 9 &hellip; The Simplify Wall Street
                                    Portfolio</h4>
                            </header>
                            <p><q>Simplicity is the ultimate Sophistication.</q> &mdash; Leonardo Da Vinci</p>

                            <p>Many investors, as we've noted, are perplexed by the array of possible investment vehicles and
                                strategies, not to mention their costs. They would be justified to lower the number of alternatives
                                merely to reduce the price and product confusion and make it easier to make a decision, even if in
                                the process they missed some slightly better results. But in our case, the best alternative is just
                                plain as the nose on your face. It’s the least costly, the easiest implement, and the least risky
                                for the benefit an investor can expect to get from it.</p>

                            <p>With this in mind, we’ve designed to simplify Wall Street portfolio with just this five common
                                investment products at its core: ...</p>

                            <header>
                                <h4>Page 135 ... Use the Strategies that
                                    <em>Always</em> Work</h4>
                            </header>

                            <p>There are some things about investing you hear so incessantly that by now everybody just assumes
                                they’re right. The conventional wisdom is so riddled with error that you should question
                                virtually everything you hear. In this Deadly Temptation, we’ll address the following four
                                things you hear that are either wrong or at least not always right:</p>

                            <ul>
                                <li>The first thing you should always do is fund your 401(k) to the maximum.</li>
                                <li>You must rebalance your investments regularly.</li>
                                <li>Dollar-cost averaging always wins.</li>
                                <li>Gold is a hedge against inflation.</li>
                            </ul>

                            <p>See why these “tried and true” strategies don’t always work and following them may even be
                                harmful ...</p>
                        </div>


                        <div class="col-lg-6">
                            <header>
                                <h4>Page 113 ... as for a Nobel Prize-Winning
                                    Approach</h4>
                            </header>

                            <p>Most firms that offer financial advisory services perform an “asset allocation” for their clients
                                (or prospective clients), usually present it as a very important part of their service. They let
                                people know that a sophisticated computer model is used to create the asset allocation.
                                Frequently, they add that it employs Nobel Prize-winning technology.  In short, though, the idea
                                that asset allocation is or needs to be done using a sophisticated mathematical model is
                                essentially a hoax.</p>

                            <p>To explain this, we need to go back in history a few years. ...</p>

                            <header>
                                <h4>Page 171 ... Use Modern Scientific Financial
                                    Theory</h4>
                            </header>

                            <p>This is often the deadliest of temptations – and one of the most brazen. Science encompasses an array
                                of serious, well-developed fields such as physics, chemistry, and biology. Modern finance bears no
                                resemblance to any of them. To apply the term “science” to the field of modern finance is to taint
                                all sciences. Both science and engineering use mathematics in practical and sound ways. The
                                mathematics used in these fields is both much more sophisticated and more practical than the
                                mathematics used in the investment field.</p>

                            <p>Let’s explore some of the ways investment products and services sold by Wall Street and the financial
                                industry use – or pretend to use – mathematics and “modern scientific financial theory.” ...</p>



                            <header>
                                <h4>Page 97 … Do Investors really make bad decision on
                                    their own?</h4>
                            </header>

                            <p>For number of years, a company named DALBAR has been publishing report called the  “Quantitative
                                Analysis of Investor Behavior” (QAIB). The QAIB purports to show that the investors make bad
                                decisions on their own and, as a result, their investments underperformed the market by several
                                percentage points. This material is a godsend to financial advisors because it implies that
                                investors need to hire an expensive financial advisor to help them.  It has captured headlines for
                                years, perpetuating the myth that individual investors invest poorly, and therefore they do much
                                worse than the market average. There’s just one thing: the DALBAR result is wrong.</p>

                            <p>We’ll first explain the problem in simple terms for those who don’t care to get into the technical
                                details. Then I’ll explain it more technically for those who do want to get into it. ...</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modals -->

