    <div id="article-view">
        <div class="pmd-card pmd-card-default pmd-z-depth">
            <!-- Card media -->
            <div class="pmd-card-media">
                <img src="" class="img-responsive">
                <button type="button" class="btn pmd-btn-flat  pmd-ripple-effect" title="Close" onclick="viewMain();"><i class="material-icons pmd-xs">close</i></button>
            </div>
            <div class="pmd-card-no-media">
                <button type="button" class="btn pmd-btn-flat  pmd-ripple-effect" title="Close" onclick="viewMain();"><i class="material-icons pmd-xs">close</i></button>
            </div>
            
            
            <!-- Card body -->
            <div class="pmd-card-title">
                <h1 class="pmd-card-title-text"></h1>
                <a class="author-link" title="More from this author..."><h3 class="author"></h3></a>
            </div>	
            
            <div class="pmd-card-body"><div id="card-body"></div></div>
            
            <!-- Card media actions -->
            <div class="pmd-card-actions footer">
            </div>
            
            <!-- Card actions -->
            <div class="pmd-card-actions">
                <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default" onclick="viewMain();">Close</button>
            </div>
        </div>
    </div> <!-- end div#article-view -->