    <div id="article-view">
        <div class="pmd-card pmd-card-default pmd-z-depth">

            <!-- Card header -->
            <!--<div class="pmd-card-title">
                <div class="media-right">
                    <a class="avatar-list-img" href="javascript:void(0);">
                        <img src="http://propeller.in/assets/images/avatar-icon-40x40.png" width="40" height="40">
                    </a>
                </div>
                <div class="media-body media-middle">
                    <h3 class="pmd-card-title-text"></h3>
                </div>
            </div>-->
            
            <!-- Card media -->
            <div class="pmd-card-media" >
                <img src="" class="img-responsive">
                <button type="button" class="btn pmd-btn-flat  pmd-ripple-effect" title="Close" onclick="viewMain();"><i class="material-icons pmd-xs">close</i></button>
            </div>
            
            <!-- Card body -->
            <div class="pmd-card-title">
                <h2 class="pmd-card-title-text"></h2>	
            </div>	
            
            <div class="pmd-card-body"></div>
            
            <!-- Card media actions -->
            <div class="pmd-card-actions footer">
            </div>
            
            <!-- Card actions -->
            <div class="pmd-card-actions">
                <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default" onclick="viewMain();">Close</button>
            </div>
        </div>
    </div> <!-- end div#article-view -->