                <div class="bio-copy-panel">
                    <header> 
                        <h1>{{page.title}}</h1>
                        <h2>&nbsp;{{page.org}}&nbsp;</h2>
                    </header>
                    <article>
                        <div>{{page.content}}</div>
                    </article>
                    <footer>
                        <button class="btn btn-more pmd-btn-outline pmd-ripple-effect btn-default"  title="Read More...">more
                            {% if page.source == 'external' %}
                                &nbsp;<i class="material-icons" title="Open in new tab">open_in_new</i>
                            {% endif %}
                        </button>
                    </footer>
                </div>