<footer id="footer" class="page">

  <div class="row mid-xs" style="padding-bottom: 0">
    <nav class="col-xs-12 " style="margin-top: 25px">
      <div>
        <a href="index.html#article-cards">articles</a>
        <a href="index.html#resources-head">resources</a>
        <a href="topics.html">topics</a>
        <a href="index.html#aboutus-head">about us</a>
      </div>
    </nav>
    <div class="col-xs-12" style="margin-top: 25px;">
      <p class="copyright">
        copyright &copy; 2017 Compendium Finance, LLC.  All rights reserved.<br/>
      </p>

    <div class="row" style="margin-top: 0; padding-top: 0">
      <div class="col-xs-12">
        <div class="social">
          <a href="https://twitter.com/{{site.social}}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="https://www.facebook.com/{{site.social}}" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://www.linkedin.com/company/{{site.social}}" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
          <a href="https://www.instagram.com/{{site.social}}" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
