      <!-- Return to Top -->
<!--<a href="javascript:goTop();" id="return-top" class="scroll"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
<a href="javascript:scrollDown();" id="scroll-down" class="scroll" style="display:block;"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>-->
<header id="header" class="cf-header nav-header">
  <div class="section-wrapper">
    <div class="row middle-xs" style="margin: auto;">

      <!-- Title -->
      <div class="col-xs-10 top-xs">
        <a class="trademark" href="index.html" title="{{site.trademark}} Home"><img src="uploads/img/logo_sm.jpg"/><span>{{site.trademark}}</span></a>
      </div>
      <nav class="col-xs-2 end-xs">
        <span class="dropdown pmd-dropdown clearfix topnav">
            <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect" type="button" title="Site Menu"
                id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true"><i class="material-icons pmd-sm">menu</i></button>
            <ul aria-labelledby="dropdownMenuDivider" role="menu" class="dropdown-menu dropdown-menu-right pmd-z-depth-2" id="myTopNav">
                <li role="presentation"><a class="nav-item" href="resources.html">resources</a></li>
                <li role="presentation"><a class="nav-item" href="aboutus.html">about us</a></li>
            </ul>
        </span>
      </nav>

    </div>
  </div>
</header>