      <!-- Return to Top -->
<!--<a href="javascript:goTop();" id="return-top" class="scroll"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
<a href="javascript:scrollDown();" id="scroll-down" class="scroll" style="display:block;"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>-->
{% assign categories = site.articles | where_exp:"a", "a.status != 'inactive'" | where_exp:"a", "a.search_omit != true" | map: 'categories' %}
{% for categoryArray in categories %}
    {% assign categoryStr = categoryArray | join: ',' %}
    {% assign topics = topics | append: categoryStr | append: ',' %}
{% endfor %}
{% assign topics = topics | split: ',' | uniq | sort %}
<header id="header" class="cf-header nav-header">
    <div class="row">

      <!-- Title -->
      <div class="col-md-5 col-sm-11 col-xs-10 title">
        <a class="trademark" href="index.html" title="{{site.trademark}} Home"><img src="uploads/compendium-stacked-black.png"/></a>
        <!--<a class="trademark" href="index.html" title="{{site.trademark}} Home"><img src="uploads/logo_bk_trnsp.png"/> Compendium Finance</a>-->
      </div>
      <nav class="col-sm-1 col-xs-2 visible-sm visible-xs burger">
        <span class="dropdown pmd-dropdown clearfix topnav">
            <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect" type="button" title="Site Menu"
                id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="true"><i class="material-icons pmd-sm">menu</i></button>
            <ul aria-labelledby="dropdownMenuDivider" role="menu" class="dropdown-menu dropdown-menu-right pmd-z-depth" id="burger-menu">
                <li role="presentation" class="homepage">
                    <a class="nav-item search" href="#" onclick="toggleSearchMode('search')">Search<i class="material-icons md-dark pmd-sm">clear</i></a>
                </li>
                <li role="presentation" class="homepage">
                    <a class="nav-item topics" href="#" onclick="toggleSearchMode('topics')">Topics<i class="material-icons md-dark pmd-sm">clear</i>
                </a></li>
                <li role="presentation" class="homepage">
                    <a class="nav-item" href="aboutus.html">About Us</a>
                </li>
                <li role="presentation" class="aboutuspage">
                    <a class="nav-item" href="index.html">Home</a>
                </li>
            </ul>
        </span>
      </nav>
      <div class="search-nav col-md-7 hidden-sm hidden-xs">
        <nav class="wide">
          <div>
            <div id="explore" class="topic-menu">
                <p>Explore</p><div class="dropdown pmd-dropdown">
                    <a class="dropdown-toggle pmd-dropdown-hover" id="topic-menu" data-toggle="dropdown" aria-expanded="true"><span class="current-topic">Current</span> <span class="caret"></span></a>
                    <ul aria-labelledby="topic-menu" role="menu" class="dropdown-menu topic-menu">
                        <li role="presentation"><a href="javascript:changeTopic('Current');" tabindex="-1" role="menuitem">Current</a></li>
                        {% for topic in topics %}
                        {% assign topic = topic | strip %}
                        <li role="presentation"><a href="javascript:changeTopic('{{topic}}');" tabindex="-1" role="menuitem">{{topic}}</a></li>
                        {% endfor %}
                    </ul>
                </div><p>Articles</p>
            </div>
            <a href="aboutus.html" >About Us</a>
            <span>
              <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect popover-html notification-trigger" type="button" 
                  data-trigger="click" data-toggle="popover" data-placement="left" data-html="true" data-id="#search-div">
                <i class="material-icons md-dark pmd-sm">search</i>
              </button>
            </span>
          </div>
        </nav>
      </div>
  </div>
  <div class="visible-sm visible-xs">
    <div class="row header-ext">
        <div id="search-div" class="text-search" >
            <input type="search" id="text-search" class="form-control" value="" placeholder="Search Articles..." oninput="search(this);"/>
        </div>
        <div id="explore-xs" class="topic-menu"></div>
    </div>
  </div>
</header>