<header id="header" class="cf-header return-header">
  <div class="section-wrapper">
    <div class="row middle-xs" style="margin: auto;">

      <!-- Title -->
      <div class="col-xs-12 top-xs">
        <a class="trademark" href="{{page.back_to}}">
            <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect" type="button" title="Back">
                <i class="material-icons pmd-sm">arrow_back</i>
            </button>
            <img src="uploads/img/logo_sm.jpg"/><span>{{page.title}}</span>
        </a>
      </div>

    </div>
  </div>
</header>