/* home page styles */
$panel-height: 28rem;

.aboutuspage {
    background-color: $compendium-primary-lt;

    .card-media-panel img {
        margin: 0rem;
        max-height: 100%;
        max-width: 100%;
    }

    #aboutus-cards {
        font-size: 1.5rem;

        // > xs
        @media only screen and (min-width: $sm-min) {
            display: block;
            margin: auto;
            padding-top: 15px;

            .pmd-card {
                max-width: 350px;
                height: $panel-height;
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }

        .bios {
            text-align: center;
        }

        .pmd-card {
            display: inline-block;
            vertical-align: top;
            padding: 16px;
        }

        .bio-img {
            width: 33%;
            float: left;
        }

        .bio-header {
            width: 66%;
            display: inline-block;

            header h1 {
                text-transform: uppercase;
                font-size: 2.0rem;
                font-weight: 700;
                margin-top: 10px; // override bootstrap
            }
            header h2 {
                font-family: 'Fjalla One', sans-serif;
                // font-style: italic;
                color: $compendium-fg-gray;
                font-size: smaller;
                margin-top: 10px; // override bootstrap
            }

            // > sm
            @media only screen and (min-width: $sm-min) {
                article {
                    margin-top: 2rem;
                }
            }

            .btn-more {
                color: $compendium-primary;
                border-radius: 2rem;
                border-color: $compendium-primary;
                text-transform: lowercase;
                margin-top: 1rem;
            }
            .btn-more .material-icons {
                font-size: 1.2rem;
                position: relative;
                top: 2px;
            }            
        }

        .bio-copy {
            margin-top: 1rem;
            padding: 1rem;
        }
    }

    #contactus-map {
        font-size: 2rem;

        .pmd-card {
            margin-top: 2rem;
        }

        .map-card {
            iframe {
                width: 100%;
                height: 100%;
                min-height: 450px;
                border: solid thin $compendium-primary;
            }
        }

        .address-panel {
            padding: 16px;
            h1 {
                font-size: 150%;
            }
        }
    }
}

