/* home page styles */
$panel-height: 16rem;

#aboutus-cards {

    .card-media-panel img {
        margin: 0rem;
        max-height: 100%;
        max-width: 100%;
    }

    // > xs
    @media only screen and (min-width: $sm-min) {
        display: block;
        margin: auto;
        padding-top: 15px;

        .pmd-card {
            display: inline-block;
            width: $panel-height;
            height: $panel-height;
            margin-left: .5rem;
            margin-right: .5rem;
        }
    }

    .bios {
        text-align: center;
    }

    .vertical-spacer {
        height: 11rem;
    }
    .card-copy-panel {
        height: 5rem;
        padding: .5rem;
    }

    .bio-header {
        text-align: left;

        header {
            float: left;
        }

        .contact {
            float: right;
            text-align: center;
            vertical-align: middle;
        }

        header h1 {
            text-transform: uppercase;
            font-weight: 700;
            margin-top: 2px; // override bootstrap
            font-size: 100%;
        }

        header h2 {
            margin-top: 2px; // override bootstrap
            font-size: 90%;
        }

        .contact .fa {
            position: relative;
            top: -2px;
        }

        // > sm
        @media only screen and (min-width: $sm-min) {
            article {
                margin-top: 2rem;
            }
        }

    }

    .bio-copy {
        margin-top: 1rem;
        padding: 1rem;
    }
    .bg-img > .card-copy-panel {
        color: black;
        background-color: rgba(255, 255, 255, .5);
    }
}

#contactus-map {
    font-size: 125%;

    .pmd-card-body {
        margin: .5rem;
    }
}

#map {
  height: 400px;
  width: 100%;
  border: 2px solid $cf-trim;
  margin: auto;
}

#cf-address {
    text-align: center;
    color: $cf-text;
    padding: 0rem .5rem 1.5rem .5rem;
    h1 {
        font-size: 150%;
    }
    h2 {
        font-size: 85%;
        margin: .5rem 0rem;
    }
}


