#article-cards,
#search-result {

    //  xs
    @media only screen and (max-width: $xs-max) {
        .cards .panel-1x1 + .panel-1x1 {
            margin-top: 1rem;
        }
    }

    // > xs
    @media only screen and (min-width: $md-min) {
        max-width: 1200px;
        display: block;
        margin: auto;
        padding-top: 15px;

        .panel-1x1 article.long,
        .panel-1x1 .article h1.long,
        .cf-ar-1x1 article.long,
        .cf-ar-1x1 .article h1.long {
            font-size: 90%;
        }

    }

    .pmd-card.article {
        color: black;

        header h1 {
            text-transform: uppercase;
            font-size: 120%;
            font-weight: 700;
        }
        header .category {
            font-size: 80%;
            text-transform: uppercase;
        }

        header .category .material-icons {
            font-size: 110%;
            position: relative;
            top: 2px;
        }

        footer {
            text-align: right;
        }

        footer .btn-more .material-icons {
            font-size: 80%;
            position: relative;
            top: 2px;
        }            
        
        header .date {
            font-style: italic;
            font-size: 80%;
        }

        .no-bg-img > .card-copy-panel {
            header .category {
                color: $cf-category;
            }
            header .date {
                color: $compendium-fg-gray;
            }        
        }
        // > xs
        @media only screen and (min-width: $sm-min) {
            article {
                margin-top: 1rem;
            }
        }

        footer .btn-more {
            color: $cf-text;
            border-radius: 2rem;
            border-color: $cf-trim;
            text-transform: lowercase;
        }

    }
}

#search-result {
    font-size: 90%;
    text-align: center;
    padding: 0px 5px 0px 5px;

    .card-wrapper {
        margin: 0rem auto .5rem auto;
        max-width: 900px;
        text-align: center;
    }
    .card-media-panel {
        // width: 18rem;
        height: auto;
        margin: 3rem 2rem;
        vertical-align: middle;
    }
    .card-media-panel img,
    .card-media-panel iframe {
        min-height: 100%;
        min-width: 100%;
    }

    .card-copy-panel {
        text-align: left;
        padding: 2rem 2rem 2rem .5rem;
    }

}

.social-card {
    color: $compendium-fg-white;
    background-color: $cf-bg-dark;
}
.social-card header h1 {
    color: $cf-text-inverse;
    font-size: 3rem;
    padding: 3rem 1rem;
}
.social-card article {
    padding-bottom: 3em;
    margin-left: 1rem;
}
.social-card a {
    color: $cf-text-inverse;
}

#article-view {
    display: none;
    text-align: center;

    h1 {
        font-size: 150%;
        margin-top: 2rem;
    }
    h2 {
        font-size: 130%;
        margin-top: 2rem;
    }
    h3 {
        font-size: 110%;
        margin-top: 2rem;
    }
    h4 {
        font-size: 105%;
        margin-top: 2rem;
    }

    .article ul {
        margin: 0rem auto .5rem auto;
        padding: 1.5rem 4rem;
        text-align: left;
    }
    @media only screen and (min-width: $sm-min) {
        ul {
            width: 75%;
        }
    }

    .pmd-card {
        max-width: 900px;
        margin: auto;
    }

    .pmd-card-media img {
        width: 100%;
        float: left;
    }
    .pmd-card-media button {
        background-color: rgba(0,0,0,.3);
        vertical-align: middle;
        padding-top: 5px;
        padding-right: 10px;
    }
    
    .pmd-card-media button i {
        position: relative;
        top: 4px;
    }

    .pmd-card-media button:hover {
        background-color: rgba(255,255,255,.5);
    }

    .pmd-card-title {
        clear: both;
    }

    .pmd-card-body .resource {
        text-align: left;
    }

    .footer {
        border-top: solid thin $cf-trim;
    }
    .footer .icons img {
        max-width: 32px;
    }
}
