$bar-chart-min-width: 800;
$bar-chart-aspect-ratio: 2;
$pie-chart-min-width: 400;
$pie-chart-aspect-ratio: 1.7;
.fee-calculator {

    svg {
        display: block;
    }

    div.stack-chart, #stack-chart {
        min-width: ($bar-chart-min-width)+0px;
        min-height: ($bar-chart-min-width / $bar-chart-aspect-ratio)+0px;
        // max-width: 1000px;//($bar-chart-min-width * 2)+0px;
        // max-height: ($bar-chart-min-width / $bar-chart-aspect-ratio * 2)+0px;
    }

    div.pie-chart, #pie-chart {
        min-width: ($pie-chart-min-width)+0px;
        min-height: ($pie-chart-min-width / $pie-chart-aspect-ratio)+0px;
        max-width: ($pie-chart-min-width * 2)+0px;
        max-height: ($pie-chart-min-width  / $pie-chart-aspect-ratio * 2)+0px;
    }

    // div.stack-chart, div.pie-chart {
    //     // float: left;
    //     // margin: 2rem;
    // }

    #stack-chart {
        height: 100%;
        width: 100%;

        .grad-linear-0 rect {
            fill: url(#gradLin0);
        }

        .grad-linear-1 rect {
            fill: url(#gradLin1);
        }

        .grad-linear-2 rect {
            fill: url(#gradLin2);
        }

        .grad-linear-3 rect {
            fill: url(#gradLin3);
        }

        .grad-linear-0 rect:hover {
            fill: url(#gradLinHL0);
        }

        .grad-linear-1 rect:hover {
            fill: url(#gradLinHL1);
        }

        .grad-linear-2 rect:hover {
            fill: url(#gradLinHL2);
        }

        .grad-linear-3 rect:hover {
            fill: url(#gradLinHL3);
        }

        rect:hover {
            stroke: black;
            stroke-width: 1px;
        }
    }

    #pie-chart {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        
        // path.slice{
        //     stroke-width:2px;
        // }

        polyline{
            // opacity: .3;
            stroke: black;
            stroke-width: 1px;
            fill: none;
        }

        path.grad-radial-0:hover {
            fill: url(#gradHL0);
        }

        path.grad-radial-1:hover {
            fill: url(#gradHL1);
        }

        path.grad-radial-2:hover {
            fill: url(#gradHL2);
        }

        path.grad-radial-3:hover {
            fill: url(#gradHL3);
        }

        path:hover {
            stroke: black;
            stroke-width: 1px;
        }

        .labels text {
            font-size: 2rem;
            font-family: Arsenal;
        }

        .labels tspan.pie-label {
        }
        .labels tspan.amount {
            font-size: 80%;
            font-weight: 600;
            font-style: italic;
        }
        .labels tspan.percent {
            font-size: 80%;
            font-style: italic;
            fill: gray;
        }
    }

    .axis .domain {
       display: none;
    }

    .row {
        margin-top: 1rem;
    }
}