
.fee-calculator {

    // > xs
    @media only screen and (min-width: 768px) {
        // max-width: 1200px;
        display: block;
        margin: auto;

        .pmd-card {
            margin: auto;
            min-height: 30rem;
            overflow: hidden;
        }
        .form-group {
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }
    //  xs
    @media only screen and (max-width: 767px) {
        .pmd-card {
            margin: 1px 1px;
        }

        .input-form.row {
            margin: 0px;
        }

        .form-group {
            margin-left: .5rem;
            margin-right: .5rem;
            margin-bottom: .5rem;
        }
    }

    .pmd-card {
        max-width: 700px;
        padding-bottom: 2rem;
    }

    span.slider-value {
        color: #555;
    }

    .range-slider {
        margin-top: 6px;
    }
    .noUi-target {
        height: 2px;
    }
    .noUi-handle {
        width: 14px;
        height: 14px;
        left: -7px;
        top: -6px;
        cursor: pointer;
        border: none;
        box-shadow: none;
        border-radius: 50%;
        background: #3fb8af;
    }
    .noUi-pips-horizontal {
        padding: 0px;
    }
    .noUi-marker {
        height: 3px;
        background: #999;
    }

    .noUi-value-sub, .noUi-value {
        display: none;
    }

    svg {
        display: block;
    }

    div.stack-chart {
        border-bottom: solid thin lightgray
    }
    div.stack-chart, #stack-chart {
        width: 100%;
        height: 100%;
    }

    div.pie-chart, #pie-chart {
        width: 100%;
        height: 100%;
    }

    .stack-chart {
        height: 100%;
        width: 100%;

        .line {
            stroke-width: 1;
            fill: none;
        }

        .area-0, .legend-0 {
            fill: #42bd41;
            fill-opacity: 0.3;
        }
        .line0, .legend-0{
            stroke: #42bd41;
        }

        .area-1, .legend-1  {
            fill: #ff4500;
            fill-opacity: 0.3;
        }
        .line1, .legend-1 {
            stroke: #ff4500;
        }

        .area-2, .legend-2  {
            fill: #dd382f;
            fill-opacity: 0.3;
        }
        .line2, .legend-2 {
            stroke: #dd382f;
        }

        .area-3, .legend-3  {
            fill: #ff0000;
            fill-opacity: 0.3;
        }
        .line3, .legend-3 {
            stroke: #ff0000;
        }

        rect:hover {
            stroke: black;
            stroke-width: 1px;
        }

        .legend {
            font-size: 60%;
        }
        .legend rect {
            stroke-width: 1px;
        }
        .legend .mask {
            fill: white;
            fill-opacity: .75;
            stroke: lightgray;
        }
        .x-axis-label {
            font-size: 1.2rem;
            text-anchor: middle;
        }

        .chart-overlay {
            stroke-opacity: .2;
        }

    }

    .pie-chart {
        width: 100%;
        height: 100%;
        // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

        polyline{
            stroke: black;
            stroke-width: 1px;
            fill: none;
        }

        path.grad-radial-0:hover {
            fill: url(#gradHL0);
        }

        path.grad-radial-1:hover {
            fill: url(#gradHL1);
        }

        path.grad-radial-2:hover {
            fill: url(#gradHL2);
        }

        path.grad-radial-3:hover {
            fill: url(#gradHL3);
        }

        path:hover {
            stroke: black;
            stroke-width: 1px;
        }

        .labels tspan.amount {
            font-size: 80%;
            font-weight: 600;
            font-style: italic;
            transform: translate(0px, 1.8em);
            -webkit-transform: translate(74px,0px);
        }
        .labels tspan.percent {
            font-size: 80%;
            font-style: italic;
            fill: gray;
        }
    }

    .axis .domain {
       display: none;
    }

    .row {
        margin-top: 1rem;
    }

    // .pmd-textfield label {
    //     min-height: 36px;
    // }
}