/* home page styles */
$panel-height: 30rem;
$hero-height: 48rem;

.homepage {

    .hero {
        font-size: 110%;
        background-color: $cf-bg-white;
        max-width: 1185px;
        margin: auto;

        .bg-img {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
        }
        .hero-content {
            color: $cf-text-inverse;
            max-height: 600px;
            min-height: 300px;
            margin: auto;
            display: block;
        }


        .darken {
            background-color: rgba(0, 0, 0, .33);
            min-width: 100%;
            min-height: 100%;
        }

        // large
        @media only screen and (min-width: 850px) {
            .hero-content {
                min-height: 500px;
                padding: 110px 0px;
                width: 80%;
            }
            h1 {
                font-size: 250%;
            }

            h2 {
                font-size: 168%;
                margin-top: 2rem;
            }
        }
        // medium
        @media only screen and (min-width: $sm-min) and (max-width: 849px) {
            .hero-content {
                min-height: 450px;
                padding: 100px 0px;
                width: 90%;
            }
            h1 {
                font-size: 210%;
            }

            h2 {
                font-size: 140%;
                margin-top: 2rem;
            }
        }
        // small
        @media only screen and (max-width: $xs-max) {
            .hero-content {
                min-height: 300px;
                width: 95%;
                padding: 75px 0px;
            }
            h1 {
                font-size: 123%;
            }

        }
    }
}
