.pop-out-page {
  display: block;
  margin: auto;
  font-size: 100%;

  .pmd-card {
    max-width: 1200px;
    margin: auto;
    padding-top: 5rem;
    padding: 1.6rem;
  }

  a {
    text-decoration: none;
  }
  h1{
    font-size: 150%;
    font-weight: 700;
    color: $cf-category;
  }
  h2{
    font-size: 125%;
  }
  h3 {
    font-size: 110%;
  }
  blockquote {
    border: none;
    padding: 0rem 4rem;
  }
  @media only screen and (max-width: 800px) {
    .post-header,
    .page-content {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
}