$blog-font-size: 1.4rem;
$blog-font-family:  Georgia, "Bitstream Charter", serif;

article.post {
  margin: 1rem;
}

.post {

  padding-top: 1rem;

  .post-header {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .post-title {
    color: $plynty-pink;
    font-size: 3rem;
    font-weight: 900;
  }

  .social-links {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  p.post-meta {
    font-size: 1.2rem;
    color: gray;
    margin: 0px;
  }

  .post-content, .post-content p {
    font-size: $blog-font-size;
    font-family: $blog-font-family;
    margin-bottom: 2rem;
  }

  .post-content h2 {
    text-transform: uppercase;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
  }

  .post-content a {
    font-size: $blog-font-size;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2rem;
    text-decoration: none;
    color: $compendium-blue;
  }

  a {
    text-decoration: none;
    color: $compendium-blue;
    font-size: $blog-font-size;
  }

  @media only screen and (max-width: 800px) {
    .post-header,.post-content,.post-meta,.social-links,a {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }

}
