/* home page styles */
$panel-height: 19rem;

#resource-cards {
    .pmd-card {
        border: solid thin $cf-trim;
        margin: .5rem;
    }

    //  xs
    @media only screen and (max-width: $sm-max) {
        .resource-icon {
            margin: 1rem;
        }

        .resource-description {
            // margin-right: 1rem;
            height: 100%;
        }

        badge, header {
          vertical-align: middle;
        }

        badge {
          margin-bottom: .5rem;
        }
    }

    // > xs
    @media only screen and (min-width: $md-min) {
        .row {
            max-width: 1300px;
            margin: auto;
            text-align: center;
        }
        .pmd-card {
            /*max-width: 250px;*/
            width: 500px;
            height: 450px;
            /*height: 333px;*/
            /*height: 100%;*/
            /*height: $panel-height;*/
            overflow: hidden;
            display: inline-block;
            vertical-align: top;
        }

        .resource-icon {
            margin: 1rem;
            max-width: 33%;
            float: left;
        }

        badge, header {
          vertical-align: middle;
        }

        badge {
          width: 33%;
        }

        header {
          width: 60%;
        }

    }

    badge {
      display: inline-block;
      img {
        width: 100%;
      }
    }

    header {
      display: inline-block;
      h1 {
        display: inline;
      }
    }

    .resource-icon {
        min-width: 10rem;
        padding: 0rem 1rem;
    }

    .resource-icon img {
        display: block;
        margin: auto;
        max-height: 120px;
        max-width: 120px;
        text-align: center;
    }

    .resource-description {
        height: 100%;
        header h1 {
            font-size: 125%;
            font-weight: 700;
            margin-top: 10px;
            text-align: center;
        }

        footer {
            display: none;
            text-align: center;
        }

        footer .btn-more .material-icons {
            font-size: 80%;
            position: relative;
            top: 2px;
        }

        article {
            font-size: 90%;
            text-align: center;
            /*padding-bottom: 3rem;*/
        }

        header .date,
        header .category {
            display: none;
        }

        // xs
        @media only screen and (min-width: $sm-min) {
            article {
                margin-top: 1rem;
            }
        }

        footer .btn-more {
            color: $cf-text;
            border-radius: 2rem;
            border-color: $cf-trim;
            text-transform: lowercase;
        }

    }

}
