---
title: Styles
---

@import "defs";
@import "header";
@import "cards";
@import "articles";
@import "home";
@import "section";
@import "aboutus";
@import "resources";
@import "fee-calc";
@import "pop-out-page";
@import "topics";
@import "promo";

/**
 * Text-align fallback for older browsers
 */
@-ms-viewport { width: device-width;}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
    font-family: $font-muli;
    font-size: 1.25rem;
    font-weight: 300;
}

/* IE 10 & 11 */
@media all and  (-ms-high-contrast: none), (-ms-high-contrast: active){
	body{
		display: block;
	}
}

.clear {
  clear: both;
}

