---
layout: top-section
section_id: quotes
---

        <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1"></div>
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 quote-mark">
                    <img class="img-responsive" src="img/css/bg-quotation-marks.png"/>
                </div>
            </div>
            <div id="quote-carousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% assign firstQuote = site.data.quotes[0].quote %}
                {% for quote in site.data.quotes %}
                        {% assign classActive = "" %}
                        {% if quote.quote == firstQuote %}
                                {% assign classActive = " active" %}
                        {% endif %}
                <div class="slides item{{classActive}}">
                    <div class="row quote">
                        <p>
                            <q>
                                {{quote.quote}}
                            </q>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 source">
                            <p class="name">{{quote.name}}</p>
                            <p class="title">{{quote.title}}</p>
                            <p class="affiliation">{{quote.affiliation}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            </div>
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1"></div>

