        <div class="pmd-card-body">
            <div class="bg-img" style="background-image: url('{{thisCard.img}}'); height: 100%">
                <div class="card-copy-panel">
                    <div class="vertical-spacer"></div>
                    <div class="bio-header">
                        <header> 
                            <h1>{{thisCard.title}}</h1>
                            <h2>&nbsp;{{thisCard.role}}&nbsp;</h2>
                        </header>
                        <!--<div class="contact">
                            <i class="fa fa-linkedin-square"></i>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>