        <div class="pmd-card-body">
            <div>
                <div class="bio-img">
                    <div class="card-media-panel image">
                        <img src="{{thisCard.img}}"/>
                    </div>
                </div>
                <div class="bio-header">
                    <header> 
                        <h1>{{thisCard.title}}</h1>
                        <h2>&nbsp;{{thisCard.role}}&nbsp;</h2>
                        <button class="btn btn-more pmd-btn-outline pmd-ripple-effect btn-default"  title="Read Full Bio...">full bio
                            {% if thisCard.source == 'external' %}
                                &nbsp;<i class="material-icons" title="Open in new tab">open_in_new</i>
                            {% endif %}
                        </button>
                    </header>
                </div>
            </div>
            <div>
                <div class="bio-copy">
                    <article>
                        {{thisCard.lead}}
                    </article>
                </div>
            </div>
        </div>