    {% if thisCard.format_class == 'custom' %}
        {{thisCard.content}}
    {% else %}
        {% assign linkTitle = thisCard.link_title %}
        {% if linkTitle == nil %}
            {% assign linkTitle = 'Read More...' %}
        {% endif %}
        <div id="{{thisCard.title | slugify}}" class="pmd-ripple-effect pmd-card pmd-z-depth-1 {{thisCard.format_class}}">
            {% if thisCard.source == 'external' %}
                <a href="{{thisCard.link}}" target="_blank" title="{{linkTitle}}">
            {% else %}
                <a href="javascript:viewArticle('{{thisCard.title | slugify}}');" title="{{linkTitle}}">
            {% endif %}
                {% include card/{{include.card_layout }}.html %}
            </a>
        </div>
    {% endif %}
