        <div class="hero">
            <div class="bg-img" style="background-image: url('uploads/CF-cover.jpg')">
                <div class="darken">
                    <div class="hero-content">
                        <div class="overlay">
                            <h1 class="trademark">Compendium Finance</h1>
                            <h2>Advocating simple and effective<br/>financial strategies for all</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>