        <div class="hero">
            <div class="bg-img" style="background-image: url('uploads/google-biz-cover.jpg')">
                <div class="darken">
                    <div class="hero-content">
                        <div class="overlay">
                            <h1 class="trademark">{{site.trademark}}</h1>
                            <h2>Advocating simple and effective financial strategies for all</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>