{% include section/std-header.html section='resources' %}

<section id="resource-cards" class="cards">
{% assign resources = site.resources | where: 'status', 'current' | where: 'section', 'resource-cards' | sort: 'position' %}
{% assign n = resources | size | minus: 1 %}
{% for i in (0..n) %}
    {% assign thisCard = resources[i] %}
    {% assign pos = i | modulo: 4 %}
    {% case pos %}
        {% when 0 %}
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                {% include card/card.html card_layout='resource-card' %}
            </div>
        {% when 1,2 %}
            <div class="col-sm-3 col-xs-12">
                {% include card/card.html card_layout='resource-card' %}
            </div>
        {% when 3 %}
            <div class="col-sm-3 col-xs-12">
                {% include card/card.html card_layout='resource-card' %}
            </div>
        </div>        
    {% endcase %}
{% endfor %}
{% if pos != 3 %}
    </div>
{% endif %}
</section>

