---
layout: sitepage
---

{% assign headers = site.cards 
    | where: 'target', page.layout 
    | where: 'active', 'true' 
    | where: 'section', 'aboutus' 
    | where: 'format_class', 'section-head' %}
<section id="aboutus-head" class="section-head pmd-z-depth-1">
    <div class="row">
        {{headers[0].output}}
    </div>
</section>

<section id="aboutus-cards" class="cards">
    {% assign bios = site.cards 
        | where: 'target', page.layout 
        | where: 'active', 'true' 
        | where: 'section', 'bios' 
        | sort: 'position' %}
    <div class="row">
        <div class="bios">
            {% for bio in bios %}
                {{bio.output}}
            {% endfor %}
        </div>
    </div>        
</section>

{% assign headers = site.cards 
    | where: 'target', page.layout 
    | where: 'active', 'true' 
    | where: 'section', 'contactus' 
    | where: 'format_class', 'section-head' %}
<section id="contactus-head" class="section-head pmd-z-depth-1">
    <div class="row">
        {{headers[0].output}}
    </div>
</section>
<section id="contactus-map" class="cards">
    <div class="row">
        <div class="col-xs-12">
            <div class="pmd-card map-card">
                <div class="pmd-card-body">
                    <div class="col-md-6">
                        <iframe src="https://www.google.com/maps?q=38.9580129,-77.427824&z=15&output=embed" 
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        {% include address-panel.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

