---
layout: sitepage
---
<div class="container-fluid">

    <div class="row">
        <div class="promos hidden-xs col-sm-2">
            {% for promo in site.promos %}
                {% if promo.targets contains 'blog' and promo.active %}
                    {{promo.output}}
                {% endif %}
            {% endfor %}
        </div>
        <div class="blog-posts col-xs-12 col-sm-7">
            {% for post in site.posts %}
                {{post.output}}
            {% endfor %}
        </div>
        <div class="tools hidden-xs col-sm-3">
            {% for tool in site.tools %}
                {% if tool.targets contains 'blog' and tool.active %}
                    {{tool.output}}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>