---
layout: card
---
        {% if page.img != nil or page.video != nil %}
            {% assign hasMedia = true %}
        {% endif %}
        <div class="pmd-card-body card-height-1">
            <div class="row">
                {% if hasMedia and page.media_side == 'left'%}
                <div class="col-sm-6">
                    {% if page.img != nil %}
                        {% include card-image-panel.html%}
                    {% else %}
                        {% include card-video-panel.html%}
                    {% endif %}
                </div>
                {% endif %}
                {% if hasMedia %}
                <div class="col-sm-6">
                {% else %}
                <div class="col-xs-12">
                {% endif %}
                    {% include card-copy-panel.html %}
                </div>
                {% if hasMedia and page.media_side == 'right'%}
                <div class="col-sm-6">
                    {% if page.img != nil %}
                        {% include card-image-panel.html%}
                    {% else %}
                        {% include card-video-panel.html%}
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>