        {% assign modal = nil %}
        {% if page.source == 'internal' and page.actions contains 'show-modal' %}
            {% for article in site.articles %}
                {% if article.article_id == page.article_id %}
                    {% assign modal = article %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if modal == nil %}
            <a href="{{page.link}}" target="_blank">
        {% else %}
            <a href="" data-toggle="modal" data-target="#{{modal.modal_id}}">
        {% endif %}
                <div id="{{page.title | slugify}}" class="pmd-ripple-effect pmd-card pmd-z-depth-1 {{page.format_class}}">
                    {{content}}
                </div>
            </a>
         {% assign modal = nil %}
