{% assign modal_id = page.modal_id %}
{% assign len = modal_id | size %}
{% if len == 0 %}
    {% assign modal_id = page.article_id | append: '-modal' %}
{% endif %}
<div class="modal fade app-modal-window" window-class="app-modal-window" id="{{modal_id}}" role="dialog" 
        tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {% include modal-header.html %}
            {{content}}
            {% if page.modal_footer_md != nil %}
                {% include modal-footer.html %}
            {% endif %}
        </div>
    </div>
</div>
