<div class="row promo-small">
    <header>
        <h1>{{page.title}}</h1>
    </header>
    <article>
        <div class="product-img"><a href="{{page.link}}" target="_blank"><img src="{{page.img}}"/></a></div>
        <div>{{page.content}}</div>
        <div class="retailers">
            {% if page.amazon_url != nil %}
            <a href="{{page.amazon_url}}" target="_blank"><img src="uploads/img/amazon.png" alt="Shop Amazon" title="Shop Amazon"/></a>
            {% endif %}
            {% if page.bn_url != nil %}
            <a href="{{page.bn_url}}" target="_blank"><img src="uploads/img/bn.jpg" alt="Shop Barnes &amp; Noble" title="Shop Barnes &amp; Noble"/></a>
            {% endif %}
            {% if page.bk_url != nil %}
            <a href="{{page.bk_url}}" target="_blank"><img src="uploads/img/bk.jpg" alt="Shop Berret-Kohler Publishers" title="Shop Berret-Kohler Publishers"/></a>
            {% endif %}
        </div>
    </article>
</div>