---
layout: sitepage
---

{% assign headers = site.cards | where: 'target', page.layout | where: 'active', 'true' | where: 'section', 'resources' | where: 'format_class', 'section-head' %}
    <section id="resource-head" class="section-head pmd-z-depth-1">
        <div class="row">
            {{headers[0].output}}
        </div>
    </section>

<section id="resource-cards" class="cards">
{% assign resources = site.cards | where: 'target', page.layout | where: 'active', 'true' | where: 'section', 'cards' %}
{% assign n = resources | size | minus: 1%}
{% for i in (0..n) %}
    {% assign even = i | modulo: 2 %}
    {% if even == 0 %}
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            {{resources[i].output}}
        </div>
    {% else %}
        <div class="col-sm-6 col-xs-12">
            {{resources[i].output}}
        </div>
    </div>        
    {% endif %}
{% endfor %}
{% if even == 0 %}
    </div>
{% endif %}
</section>
