<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
        <page class="{{page.layout}}">
            {% include nav-header.html %}
            <!--<div class="nav-padding">&nbsp;</div>-->
            <div class="page-content">
                {{ content }}
            </div>
            {% include footer.html %}
        </page>
        {% assign activeCards = site.cards | where: 'target', page.layout | where: 'active', 'true' | where: 'source', 'internal' %}
        {% for card in activeCards %}
            {% if card.actions contains 'show-modal' %}
                {% for article in site.articles %}
                    {% if article.article_id == card.article_id %}
                        {{article.output}}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% include scripts.html %}
    </body>

</html>
