---
layout: sitepage
scripts: '<script type="text/javascript" src="assets/js/topics.js"></script>

'
---

    <div id="main">
    {% assign topics = site.articles | where_exp:"a", "a.status != 'inactive'" | where_exp:"a", "a.search_omit != true" | map: 'heading' | uniq | sort %}

    {% include section/std-header.html section='topics' %}

    <section class="topic-form">
        <div class="row">
            <div>
                <div class="col-sm-6 col-xs-12">
                    <div class="topic-menu">
                        <p>Explore&nbsp;</p>
                        <div class="dropdown pmd-dropdown">
                            <a class="dropdown-toggle pmd-dropdown-hover" id="topic-menu" data-toggle="dropdown" aria-expanded="true"><span id="current-topic">Current</span> <span class="caret"></span></a>
                            <ul aria-labelledby="topic-menu" role="menu" class="dropdown-menu">
                                <li role="presentation"><a href="javascript:changeTopic('Current', 'current');" tabindex="-1" role="menuitem">Current</a></li>
                                {% for topic in topics %}
                                {% assign topic = topic | strip %}
                                <li role="presentation"><a href="javascript:changeTopic('{{topic}}', '{{topic | slugify}}');" tabindex="-1" role="menuitem">{{topic}}</a></li>
                                {% endfor %}
                            </ul>
                        </div><p>&nbsp;Articles</p>
                    </div>
                </div>
                <!--<div class="col-sm-6 col-xs-12">
                    <div class="text-search">
                        <input type="search" id="topic-search" class="form-control" value="" placeholder="I want to learn more about..."/>
                    </div>
                </div>-->
            </div>
        </div>
    </section>

    {% include section/article-cards.html %}

    <div id="search-result" class="cards" style="display: none;"><p>Loading...</p></div>
    </div> <!-- end main -->
